.block-upload-box {
    height: 70px;
    border: 1px solid lightgray;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 24px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.max-width {
    width: 100%;
}

.third-width {
    width: 80%;
}

.form-control {
    border-radius: 0.20rem !important;
}

.form-label {
    font-weight: 800;

}

.card-header-custom {
    border-bottom: 0 !important;
    padding-bottom: 50px !important;
    background-color: white !important;
}

.card-custom {
    border: 0 !important;
}

.btn-custom {
    margin-top: 10px;
}

.tezos-logo {
    width: 70px;
    margin-left: -26px;
}

.custom-price {
    font-weight: 900;
    margin-bottom: -10px;
    font-size: 40px
}

.custom-usd {
    margin-bottom: 0;
    font-weight: 900;
}

.custom-link {
    border: 1px solid lightgray;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer
}

#app {
    background: white;
    height: 100vh;
}